.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#button{
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.3s;
}
#button:active{
    scale: 0.8;
}